<h1 class="mat-display-3">Pick a difficulty</h1>
<mat-card>
    <button mat-button (click)="startSingleplayer('easy')">easy</button>
    <button mat-button (click)="startSingleplayer('medium')">medium</button>
    <button mat-button (click)="startSingleplayer('hard')">hard</button>
</mat-card>