:host {
  display: grid;

  div {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    canvas {
      border: black solid 1px;
    }
  }
}
