:host {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr;

  app-header {
    z-index: 1;
  }

  div {
    display: grid;
    grid-template-rows: 0 1fr;
    margin: 16px;
  }

  app-header,
  div {
    z-index: 1;
  }

  app-game {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
}
