<app-header></app-header>
<app-game #game [@openClosed]="gameService.showMenu ? 'blur' : 'unblur'"></app-game>
<div [@routeAnimations]="prepareRoute(outlet)" [@openClosed]="gameService.showMenu ? 'open' : 'closed'">
    <router-outlet #outlet="outlet"></router-outlet>
</div>