<h1 class="mat-display-3">Snake</h1>
<mat-card>
  <button mat-button routerLink="/core/difficulty">Singleplayer</button>
  <button mat-button routerLink="/core/multiplayer">Multiplayer</button>
  <button mat-button routerLink="/core/controls">Controls</button>
</mat-card>