@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  .mat-display-3 {
    font-family: Lobster;
  }

  * {
    user-select: none;
  }
}
